@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: tomato;
}

h5 {
  margin: 0;
  color: #333;
  font-size: small;
}

h4, h2, p {
  text-align: center;
}

.container-content {
  background-color: rgb(251, 251, 251);
  max-width: 75%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  margin-top: 60px;
}

.header {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-signin {
  position: absolute;
  top: 23px;
  right: 30px;
}

.img-background {
  width: 100%;
}

.content-search {
  display: flex;
  margin-top: 50px;
  margin-bottom: 13px;
  justify-content: center;
}

.search-bar {
  display: inline-block;
  width: 600px;
  position: relative;
}

.search-input {
  background: #f2f2f2;
  padding: 0 16px;
  height: 47px;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 15px;
}

.search-submit {
  position: absolute;
  top: 0;
  right: -1;
  background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
  background-size: 19px 19px;
  background-position: 50%;
  width: 50px;
  height: 46px;
  border: 0;
  padding: 0;
  font: 0/0 a;
  color: transparent;
  cursor: pointer;
}

.default-songs-title {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}

.button-default-songs, .searchDashboard {
  text-align: center;
  margin-bottom: 40px;
}

.searchDashboard {
  margin-top: 40px;
}

.signup-teaser {
  padding-bottom: 100px;
  text-align: center;
}

.signup-teaser-title {
  font-size: 36px;
}

.signup-teaser-after-title {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.action-btn {
  margin-left: 12px;
  width: 24px;
  height: 100%;
  align-items: center;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 40%;
}

.btn {
  display: inline-block;
  background: tomato;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-bottom: 70px;
  text-align: center;
}

.playControl-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.playControl-inner {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  height: 48px;
}

.playControl-container {
  width: 75%;
  padding: 0;
  height: 100%;
  margin: 0 auto;
}

.playControl-elements {
  display: flex;
  height: 100%;
}

#prev {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgNmgydjEySDdWNnptMiA2bDggNlY2bC04IDZ6Ii8+PC9zdmc+Cg==);
}

.pause {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPgo=);
}

.pause.playing {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPgo=);
}

#next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgMThsOC02LTgtNnYxMnptOC0xMnYxMmgyVjZoLTJ6Ii8+PC9zdmc+Cg==);
}

#shuffle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEzLjU4NiAxN2wtOC04SDNWN2gzLjQxNGw4IDhIMTd2MmgtMy40MTR6TTMgMTVoMi41ODZsMi4yMDctMi4yMDcgMS40MTQgMS40MTQtMi41MDEgMi41MDEtLjI5My4yOTJIM3YtMnptMTQtNmgtMi41ODZsLTIuMjA3IDIuMjA3LTEuNDE0LTEuNDE0TDEzLjU4NiA3SDE3djJ6bTQgN2wtNCAzdi02bDQgM3ptMC04bC00IDNWNWw0IDN6Ii8+PC9zdmc+Cg==);
}

#repeat {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=);
}

#repeat.repeat-one {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=);
}

#volume {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K);
}

#volume.muted {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+Cg==);
}

.timeline {
  display: flex;
}

.timeline-time-passed {
  width: 50px;
  height: 100%;
  text-align: right;
  color: tomato;
  line-height: 46px;
  font-size: 14px;
}

.timeline-progress {
  position: relative;
  padding: 10px 0;
  margin: 13px 10px 0;
  width: 512px;
}

.progressBackground {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.progressBar {
  background-color: tomato;
  height: 1.5px;
}

.progressHandle {
  border: 1px solid tomato;
  border-radius: 100%;
  height: 8px;
  width: 8px;
  background-color: tomato;
  margin-top: -4px;
  margin-left: -4px;
  opacity: 0;
  transition: opacity .15s;
}

.timeline-duration {
  color: #333;
  width: 50px;
  height: 100%;
  line-height: 46px;
  text-align: left;
  font-size: 14px;
}

.info-song {
  margin-left: 20px;
  margin-top: 8px;
}

#user-song {
  color: rgb(77, 77, 77);
}

.about-us {
  padding-top: 80px;
  padding-bottom: 190px;
}

.about-us p {
  line-height: 30px;
}

.about-us h2 {
  margin-bottom: 30px;
}

.about-us div {
  display: flex;
  margin-top: 40px;
}

.about-us div img {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.header-others {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #333;
}

.header-others-container {
  height: 100%;
  width: 75%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header-others-container div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header-others-img {
  height: 100%;
}

.header-others-img img {
  height: 100%;
}

.header-others-link-to-home {
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
  width: 200px;
  display: flex;
}

.header-others-link-to-home div {
  margin: auto;
}

.header-others-link-to-home a {
  color: #f2f2f2;
}

.header-others-search {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-others-search-input {
  background: #f2f2f2;
  padding: 0 16px;
  height: 40px;
  width: 100%;
  border: 2px solid;
  border-radius: 10px;
  outline: 0;
  font-size: 15px;
}

.header-others-button {
  padding-left: 50px;
}

.displaySongsSearch {
  text-align: left;
  margin-bottom: 40px;
}

.listSongsSearch {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  font-size: large;
}

.authDisplay {
  margin-top: 150px;
}

.authContainer {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.auth-img {
  margin-top: 50px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.auth-img img {
  width: 100%;
}

.alert-login {
  margin-bottom: 30px;
  text-align: center;
  color: red;
}

.container-discover {
  width: 100%;
}

.discover-header-user {
  height: 320px;
  background-color: rgb(129, 127, 127);
  margin-bottom: 50px;
}

.discover-content {
  margin-bottom: 50px;
  text-align: center;
}

.upload-songs-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.upload-songs-title {
  font-size: xx-large;
  color: tomato;
}

.upload-success {
  margin-top: 20px;
  text-align: center;
  color: green;
}

.upload-fail {
  margin-top: 20px;
  text-align: center;
  color: red;
}

.topMusicRow {
  display: flex;
}

.musicItemContainer {
  display: inline-block;
  margin-right: 25px;
}

.musicItemUrl {

}

.musicItemName {
  font-size: 14px;
  margin: 5px 0;
}

.musicItemGenre {
  font-size: 12px;
  color: #999;
}