body {
    background-color: #f2f2f2;
    margin-top: 0;
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

button {
    cursor: pointer;
}

.container-content {
    background-color: rgb(251, 251, 251);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.frontHero {
    position: relative;
}

.frontHero-img img {
    width: 100%;
    
}

.frontHero_signin {
    position: absolute;
    top: 23px;
    right: 30px;
}

.frontHero_signin button {
    padding: 7px 12px;
    margin-left: 5px;
    border: none;
    font-size: 17px;
    background: tomato;
    color: white;
}

.frontContent_search {
    display: flex;
    margin-top: 50px;
    margin-bottom: 13px;
    justify-content: center;
}

form.headerSearch {
    display: inline-block;
    width: 600px;
    position: relative;
}

.headerSearch_input {
    background: #f2f2f2;
    padding: 0 16px;
    height: 47px;
    width: 100%;
    border: 0;
    outline: 0;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 15px;
}

.headerSearch_submit {
    position: absolute;
    top: 0;
    right: 0;
    background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
    background-size: 19px 19px;
    background-position: 50%;
    width: 50px;
    height: 46px;
    border: 0;
    padding: 0;
    font: 0/0 a;
    color: transparent;
}

.trendingTracks_title {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.trendingTracks_list {
    list-style: none;
}

.front-sign-up-teaser {
    padding-bottom: 100px;
}

.signupModule {
    text-align: center;
}

.signupModule_title {
    font-size: 36px;
}

.signupModule_afterTitle {
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.signupModule_createButton button {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    font-size: 17px;
    background: tomato;
    color: white;
}

.front-footer {
    padding-bottom: 90px;
}

.front-footer a {
    text-decoration: none;
    color: #a8a8a8;
    padding-top: 30px;
    padding-left: 30px;
    font-size: medium;
}

.playControl-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section.playControl_inner {
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    height: 48px;
}

.playControl-container {
    width: 75%;
    padding: 0;
    height: 100%;
    margin: 0 auto;
}

.playControl-element {
    display: flex;
    height: 100%;
}

.action-btn {
    margin-left: 12px;
    width: 24px;
    height: 100%;
    align-items: center;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 40%;
}

button#prev {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgNmgydjEySDdWNnptMiA2bDggNlY2bC04IDZ6Ii8+PC9zdmc+Cg==);
}

button.pause {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTggNXYxNGwxMS03eiIvPjwvc3ZnPgo=);
}

button.pause.playing {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTYgMTloNFY1SDZ2MTR6bTgtMTR2MTRoNFY1aC00eiIvPjwvc3ZnPgo=);
}

button#next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTcgMThsOC02LTgtNnYxMnptOC0xMnYxMmgyVjZoLTJ6Ii8+PC9zdmc+Cg==);
}

.shuffleControl {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEzLjU4NiAxN2wtOC04SDNWN2gzLjQxNGw4IDhIMTd2MmgtMy40MTR6TTMgMTVoMi41ODZsMi4yMDctMi4yMDcgMS40MTQgMS40MTQtMi41MDEgMi41MDEtLjI5My4yOTJIM3YtMnptMTQtNmgtMi41ODZsLTIuMjA3IDIuMjA3LTEuNDE0LTEuNDE0TDEzLjU4NiA3SDE3djJ6bTQgN2wtNCAzdi02bDQgM3ptMC04bC00IDNWNWw0IDN6Ii8+PC9zdmc+Cg==);
}

.repeatControl {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=);
}

.playbackTimeline {
    display: flex;
}

.playbackTimeline.has-sound {
    visibility: visible;
}

.playbackTimeline_timePassed {
    width: 50px;
    height: 100%;
    text-align: right;
    color: tomato;
    line-height: 46px;
    font-size: 14px;
}

.playbackTimeline_progress {
    position: relative;
    padding: 10px 0;
    margin: 13px 10px 0;
    width: 512px;
}

.progressBackground, .progressBar, .progressHandle {
    position: absolute;
}

.progressBackground {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.progressBar {
    background-color: tomato;
    height: 1.5px;
}

.progressHandle {
    border: 1px solid tomato;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: tomato;
    margin-top: -4px;
    margin-left: -4px;
    opacity: 0;
    transition: opacity .15s;
}

.playbackTimeline_duration {
    color: #333;
    width: 50px;
    height: 100%;
    line-height: 46px;
    text-align: left;
    font-size: 14px;
}

.playControl_volume {
    margin-right: 12px;
}

button.volume {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTQgOWg0LjAwMkwxMiA1djE0Yy0yLjQ0Ni0yLjY2Ny0zLjc3OC00LTMuOTk4LTRINFY5em0xMCA0YTEgMSAwIDAgMCAwLTJWOWEzIDMgMCAwIDEgMCA2di0yem0wIDRhNSA1IDAgMCAwIDAtMTBWNWE3IDcgMCAwIDEgMCAxNHYtMnoiLz48L3N2Zz4K);
}

button.volume.muted {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzMzMyIgZD0iTTE4IDEwLjU4NGwtMi4yOTMtMi4yOTEtMS40MTQgMS40MTQgMi4yOTMgMi4yOTEtMi4yOTEgMi4yOTEgMS40MTQgMS40MTUgMi4yOTItMi4yOTIgMi4yOTQgMi4yOTIgMS40MTQtMS40MTUtMi4yOTMtMi4yOTEgMi4yOTEtMi4yOS0xLjQxNC0xLjQxNS0yLjI5MiAyLjI5MXpNNCA5aDQuMDAyTDEyIDV2MTRjLTIuNDQ2LTIuNjY3LTMuNzc4LTQtMy45OTgtNEg0Vjl6Ii8+PC9zdmc+Cg==);
}

.playControl_songInfo {
    margin-left: 20px;
    margin-top: 8px;
}

h4 {
    margin: 0;
}

h4#singer_song {
    color: rgb(110, 110, 110);
}

h4#singer_song {
    color: rgb(77, 77, 77);
}